.banner-area {
    padding: 300px 0 200px;

    @media (max-width: 991.98px) {
        padding: 150px 0px 90px;
    }
}

.banner-text {
    max-width: 750px;

    h1 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.05em;
        padding-bottom: 20px;
        color: #2E2E2E;

        @media (max-width: 575.98px) {
            font-size: 28px;
            line-height: 34px;
        }
    }

    p {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 23px;
        letter-spacing: -0.05em;
        color: #2E2E2E;

        @media (max-width: 575.98px) {
            font-size: 16px;
        }
    }
}